h1 {
    text-align: center;
}

main {
    display: flex;
    justify-content: flex-start;
    gap: 10%
}

#settings {
    display: flex;
    flex-direction: column;
    flex: 0 0 10%;
    margin: 0 0 0 80px;
}

#block-container {
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, 1fr);
    width: 600px;
    height: 600px;
    border: 2px solid black;
}

.block {
    border: none;
}